{% liquid
  assign pt = section.settings.pt | prepend: 'pt-'
  assign pb = section.settings.pb | prepend: 'pb-'
  assign mt = section.settings.mt | prepend: 'mt-'
  assign mb = section.settings.mb | prepend: 'mb-'

  if section.settings.collection == blank
    assign products = section.settings.products
  else
    assign products = collections[section.settings.collection].products
  endif
%}

<div class="container">
  <h2 class="title mb-4 h2"></h2>
  <style>
        .mb-2 {
            margin-top: 1rem !important;
        }

        .h6 {
      color: black !important;
    }
    .color-swatches {
      display: none;
    }
    .product-item-price {
      font-size: 1rem;
      font-weight: 400 !important;
    }

    .img-badge-sale {
      font-size: 1.3rem;
      margin-top: -0.5rem;
      background-color: #ffedf6 !important;
    }
    .carousel-controls {
      display: none !important;
    }
    .h6 {
      color: black !important;
    }

    .btn-view-more {
      display: none !important;
    }
    .color-swatches {
      display: none;
    }
  </style>

  <section
<div id="shopify-section-template--22016286196023__c96abb1c-8ca4-471f-b650-91ef61a17efa" class="shopify-section">

<section id="featured-products-template--22016286196023__c96abb1c-8ca4-471f-b650-91ef61a17efa" class="featured-products text-start pt-3 pb-0 mt-0 mb-2 init">
  <div class="container">
    <h2 class="title mb-4 h2">
      
    </h2>
    <style>
      .mb-2 {
          margin-top: 1rem !important;


      }
    </style>

    
    
      
      <ul class="product-list list-unstyled row mx-n3 mx-lg-n4 mb-0 row-cols-2 row-cols-sm-3 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-4">
        
          

<li class="product-item splide__slide p-3 p-lg-4 mb-4">
    <a class="product-link position-relative d-block link-dark processed-by-incubate" href="/products/shimmer-matte-liquid-lipsitck-guilty">
          
        
        
        
            <img class="product-item-img img-fluid mb-4 rounded " src="//www.lavecchiacosmetics.com/cdn/shop/files/your_image_enhanced_99_enhanced_97_3__enhanced_1.png?crop=center&amp;height=1200&amp;v=1705379113&amp;width=1200" alt="13 COLOR MATTE SHIMMER LIQUID LIPSTICK" width="1200" height="1200" loading="lazy">
        
        <h3 class="product-item-title mb-2 h6 ">
            13 COLOR MATTE SHIMMER LIQUID LIPSTICK
        </h3>
    </a>
    
<div class="shopify-product-reviews-badge" data-id="8980611531063"></div>
    <p class="product-item-price mb-4" style="margin-bottom: 0px; padding-bottom: 0px;">
        
            <span class="product-item-price-final">
                
                    From
                
                $0.00
            </span>
        
    </p>
    
    
<div class="incubate-collections-add-to-cart-widget cbb-desktop-view" id="incubate-collections-add-to-cart-widget-8980611531063" style="padding: 0px 5px 30px; width: 100%;"><div class="incubate-collections-add-to-cart-variant-label" style="margin: 5px 0px 0px; font-size: 14px; color: rgb(51, 51, 51); font-weight: normal; font-style: normal; font-family: Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif;">Color</div><select class="incubate-collections-add-to-cart-variant-selector" style="overflow-wrap: break-word; white-space: normal; text-decoration: none; line-height: 1.2; letter-spacing: 0px; width: 100%; height: 40px; font-weight: normal; font-style: normal; font-family: &quot;Harmonia Sans&quot;, sans-serif, Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif; font-size: 16px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); border-width: 1px; border-color: rgb(255, 255, 255); border-radius: 0px; border-style: solid; margin: 5px 0px 0px; padding: 0px 10px; cursor: pointer; background-image: linear-gradient(45deg, transparent 50%, rgb(51, 51, 51) 50%), linear-gradient(135deg, rgb(51, 51, 51) 50%, transparent 50%); background-position: calc(100% - 14px) calc(1em + 2px), calc(100% - 10px) calc(1em + 2px); background-size: 4px 4px; background-repeat: no-repeat; appearance: none; text-indent: 1px;"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option></select><div class="incubate-collections-add-to-cart-error" style="display: none; background-color: rgb(255, 182, 193); border-radius: 4px; padding: 1em; margin-top: 10px;"></div><div class="incubate-collections-add-to-cart-button-super-container" style="display: flex; flex-direction: row;"><button class="incubate-collections-add-to-cart-add-to-cart-button" style="overflow-wrap: break-word; white-space: normal; text-decoration: none; line-height: 1.2; letter-spacing: 0px; width: 100%; height: 40px; min-height: 40px; font-weight: normal; font-style: normal; font-family: &quot;Harmonia Sans&quot;, sans-serif, Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif; font-size: 13px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); border-width: 1px; border-color: rgb(255, 255, 255); border-radius: 0px; border-style: solid; cursor: pointer; margin: 10px 0px 0px; padding: 0px;">ADD TO CART</button></div></div></li>

<li class="product-item splide__slide p-3 p-lg-4 mb-4">
    <a class="product-link position-relative d-block link-dark processed-by-incubate" href="/products/glitter-chameleon-eye-makeup-multichrome-shimmer-eyeshadow-duochrome-stick-shine-chrome-highlighter-pen-party-luminous-cosmetics">
          
        
        
        
            <img class="product-item-img img-fluid mb-4 rounded " src="//www.lavecchiacosmetics.com/cdn/shop/files/reawl4.png?crop=center&amp;height=1200&amp;v=1698133322&amp;width=1200" alt="TRI COLOR GLOW AND SHOW EYE GLOSS" width="1200" height="1200" loading="lazy">
        
        <h3 class="product-item-title mb-2 h6 ">
            TRI COLOR GLOW AND SHOW EYE GLOSS
        </h3>
    </a>
    
<div class="shopify-product-reviews-badge" data-id="8975607988535"></div>
    <p class="product-item-price mb-4" style="margin-bottom: 0px; padding-bottom: 0px;">
        
            <span class="product-item-price-final">
                
                $44.00
            </span>
        
    </p>
    
    
<div class="incubate-collections-add-to-cart-widget cbb-desktop-view" id="incubate-collections-add-to-cart-widget-8975607988535" style="padding: 11.5781px 5px 30px; width: 100%;"><div class="incubate-collections-add-to-cart-variant-label" style="margin: 5px 0px 0px; font-size: 14px; color: rgb(51, 51, 51); font-weight: normal; font-style: normal; font-family: Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif;">Color</div><select class="incubate-collections-add-to-cart-variant-selector" style="overflow-wrap: break-word; white-space: normal; text-decoration: none; line-height: 1.2; letter-spacing: 0px; width: 100%; height: 40px; font-weight: normal; font-style: normal; font-family: &quot;Harmonia Sans&quot;, sans-serif, Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif; font-size: 16px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); border-width: 1px; border-color: rgb(255, 255, 255); border-radius: 0px; border-style: solid; margin: 5px 0px 0px; padding: 0px 10px; cursor: pointer; background-image: linear-gradient(45deg, transparent 50%, rgb(51, 51, 51) 50%), linear-gradient(135deg, rgb(51, 51, 51) 50%, transparent 50%); background-position: calc(100% - 14px) calc(1em + 2px), calc(100% - 10px) calc(1em + 2px); background-size: 4px 4px; background-repeat: no-repeat; appearance: none; text-indent: 1px;"><option value="1">1</option><option value="2">2</option><option value="3">3</option></select><div class="incubate-collections-add-to-cart-error" style="display: none; background-color: rgb(255, 182, 193); border-radius: 4px; padding: 1em; margin-top: 10px;"></div><div class="incubate-collections-add-to-cart-button-super-container" style="display: flex; flex-direction: row;"><button class="incubate-collections-add-to-cart-add-to-cart-button" style="overflow-wrap: break-word; white-space: normal; text-decoration: none; line-height: 1.2; letter-spacing: 0px; width: 100%; height: 40px; min-height: 40px; font-weight: normal; font-style: normal; font-family: &quot;Harmonia Sans&quot;, sans-serif, Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif; font-size: 13px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); border-width: 1px; border-color: rgb(255, 255, 255); border-radius: 0px; border-style: solid; cursor: pointer; margin: 10px 0px 0px; padding: 0px;">ADD TO CART</button></div></div></li>

<li class="product-item splide__slide p-3 p-lg-4 mb-4">
    <a class="product-link position-relative d-block link-dark processed-by-incubate" href="/products/large-durable-waterproof-matte-lip-gloss-tube-24-color-optional-non-stick-cup-non-fading-lipstick-sexy-long-lasting-makeup">
          
        
        
        
            <img class="product-item-img img-fluid mb-4 rounded " src="//www.lavecchiacosmetics.com/cdn/shop/files/H2b9a5a9955974fceaf5541ea4abd2439F.webp?crop=center&amp;height=1200&amp;v=1705385977&amp;width=1200" alt="47913517285687" width="1200" height="1200" loading="lazy">
        
        <h3 class="product-item-title mb-2 h6 ">
            24 COLOR WATERPROOF MATTE LIP GLOSS
        </h3>
    </a>
    
<div class="shopify-product-reviews-badge" data-id="9157431722295"></div>
    <p class="product-item-price mb-4" style="margin-bottom: 0px; padding-bottom: 0px;">
        
            <span class="product-item-price-final">
                
                $32.00
            </span>
        
    </p>
    
    
<div class="incubate-collections-add-to-cart-widget cbb-desktop-view" id="incubate-collections-add-to-cart-widget-9157431722295" style="padding: 0px 5px 30px; width: 100%;"><div class="incubate-collections-add-to-cart-variant-label" style="margin: 5px 0px 0px; font-size: 14px; color: rgb(51, 51, 51); font-weight: normal; font-style: normal; font-family: Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif;">Color</div><select class="incubate-collections-add-to-cart-variant-selector" style="overflow-wrap: break-word; white-space: normal; text-decoration: none; line-height: 1.2; letter-spacing: 0px; width: 100%; height: 40px; font-weight: normal; font-style: normal; font-family: &quot;Harmonia Sans&quot;, sans-serif, Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif; font-size: 16px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); border-width: 1px; border-color: rgb(255, 255, 255); border-radius: 0px; border-style: solid; margin: 5px 0px 0px; padding: 0px 10px; cursor: pointer; background-image: linear-gradient(45deg, transparent 50%, rgb(51, 51, 51) 50%), linear-gradient(135deg, rgb(51, 51, 51) 50%, transparent 50%); background-position: calc(100% - 14px) calc(1em + 2px), calc(100% - 10px) calc(1em + 2px); background-size: 4px 4px; background-repeat: no-repeat; appearance: none; text-indent: 1px;"><option value="11">11</option><option value="13">13</option><option value="17">17</option><option value="15">15</option><option value="14">14</option><option value="02">02</option><option value="07">07</option><option value="01">01</option><option value="03">03</option><option value="04">04</option><option value="09">09</option><option value="06">06</option><option value="05">05</option><option value="24">24</option><option value="20">20</option><option value="18">18</option><option value="10">10</option><option value="16">16</option><option value="19">19</option><option value="21">21</option><option value="22">22</option><option value="08">08</option><option value="23">23</option><option value="12">12</option></select><div class="incubate-collections-add-to-cart-error" style="display: none; background-color: rgb(255, 182, 193); border-radius: 4px; padding: 1em; margin-top: 10px;"></div><div class="incubate-collections-add-to-cart-button-super-container" style="display: flex; flex-direction: row;"><button class="incubate-collections-add-to-cart-add-to-cart-button" style="overflow-wrap: break-word; white-space: normal; text-decoration: none; line-height: 1.2; letter-spacing: 0px; width: 100%; height: 40px; min-height: 40px; font-weight: normal; font-style: normal; font-family: &quot;Harmonia Sans&quot;, sans-serif, Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif; font-size: 13px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); border-width: 1px; border-color: rgb(255, 255, 255); border-radius: 0px; border-style: solid; cursor: pointer; margin: 10px 0px 0px; padding: 0px;">ADD TO CART</button></div></div></li>

<li class="product-item splide__slide p-3 p-lg-4 mb-4">
    <a class="product-link position-relative d-block link-dark processed-by-incubate" href="/products/professional-2-in-1-double-color-gradient-velvet-shadow-stick-eye-makeup-waterproof-lasting-shimmer-metallic-eyeshadow-makeup">
          
        
        
        
            <img class="product-item-img img-fluid mb-4 rounded " src="//www.lavecchiacosmetics.com/cdn/shop/files/51_gccZsLeL._SL1000.jpg?crop=center&amp;height=1200&amp;v=1705410499&amp;width=1200" alt="2 IN 1 RADIANT METALLIC EYESHADOW" width="1200" height="1200" loading="lazy">
        
        <h3 class="product-item-title mb-2 h6 ">
            2 IN 1 RADIANT METALLIC EYESHADOW
        </h3>
    </a>
    
<div class="shopify-product-reviews-badge" data-id="8975607955767"></div>
    <p class="product-item-price mb-4" style="margin-bottom: 0px; padding-bottom: 0px;">
        
            <span class="product-item-price-final">
                
                $23.00
            </span>
        
    </p>
    
    
<div class="incubate-collections-add-to-cart-widget cbb-desktop-view" id="incubate-collections-add-to-cart-widget-8975607955767" style="padding: 0px 5px 30px; width: 100%;"><div class="incubate-collections-add-to-cart-variant-label" style="margin: 5px 0px 0px; font-size: 14px; color: rgb(51, 51, 51); font-weight: normal; font-style: normal; font-family: Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif;">Color</div><select class="incubate-collections-add-to-cart-variant-selector" style="overflow-wrap: break-word; white-space: normal; text-decoration: none; line-height: 1.2; letter-spacing: 0px; width: 100%; height: 40px; font-weight: normal; font-style: normal; font-family: &quot;Harmonia Sans&quot;, sans-serif, Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif; font-size: 16px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); border-width: 1px; border-color: rgb(255, 255, 255); border-radius: 0px; border-style: solid; margin: 5px 0px 0px; padding: 0px 10px; cursor: pointer; background-image: linear-gradient(45deg, transparent 50%, rgb(51, 51, 51) 50%), linear-gradient(135deg, rgb(51, 51, 51) 50%, transparent 50%); background-position: calc(100% - 14px) calc(1em + 2px), calc(100% - 10px) calc(1em + 2px); background-size: 4px 4px; background-repeat: no-repeat; appearance: none; text-indent: 1px;"><option value="01">01</option><option value="02">02</option><option value="03">03</option><option value="04">04</option></select><div class="incubate-collections-add-to-cart-error" style="display: none; background-color: rgb(255, 182, 193); border-radius: 4px; padding: 1em; margin-top: 10px;"></div><div class="incubate-collections-add-to-cart-button-super-container" style="display: flex; flex-direction: row;"><button class="incubate-collections-add-to-cart-add-to-cart-button" style="overflow-wrap: break-word; white-space: normal; text-decoration: none; line-height: 1.2; letter-spacing: 0px; width: 100%; height: 40px; min-height: 40px; font-weight: normal; font-style: normal; font-family: &quot;Harmonia Sans&quot;, sans-serif, Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif; font-size: 13px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); border-width: 1px; border-color: rgb(255, 255, 255); border-radius: 0px; border-style: solid; cursor: pointer; margin: 10px 0px 0px; padding: 0px;">ADD TO CART</button></div></div></li>

<li class="product-item splide__slide p-3 p-lg-4 mb-4">
    <a class="product-link position-relative d-block link-dark processed-by-incubate" href="/products/12-colors-mirror-pearl-lip-gloss-waterproof-long-lasting-moisturizing-lipstick-shine-glitter-lip-gloss-women-makeup-cosmetic">
          
        
        
        
            <img class="product-item-img img-fluid mb-4 rounded " src="//www.lavecchiacosmetics.com/cdn/shop/files/12-Colors-Mirror-Pearl-Lip-Gloss-Waterproof-Long-Lasting-Moisturizing-Lipstick-Shine-Glitter-Lip-Gloss-Women_jpg.webp?crop=center&amp;height=1200&amp;v=1705411474&amp;width=1200" alt="MIRROR PEARL LIP GLOSS" width="1200" height="1200" loading="lazy">
        
        <h3 class="product-item-title mb-2 h6 ">
            MIRROR PEARL LIP GLOSS
        </h3>
    </a>
    
<div class="shopify-product-reviews-badge" data-id="8965994217783"></div>
    <p class="product-item-price mb-4" style="margin-bottom: 0px; padding-bottom: 0px;">
        
            <span class="product-item-price-final">
                
                $44.00
            </span>
        
    </p>
    
    
<div class="incubate-collections-add-to-cart-widget cbb-desktop-view" id="incubate-collections-add-to-cart-widget-8965994217783" style="padding: 13.9219px 5px 30px; width: 100%;"><div class="incubate-collections-add-to-cart-variant-label" style="margin: 5px 0px 0px; font-size: 14px; color: rgb(51, 51, 51); font-weight: normal; font-style: normal; font-family: Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif;">Color</div><select class="incubate-collections-add-to-cart-variant-selector" style="overflow-wrap: break-word; white-space: normal; text-decoration: none; line-height: 1.2; letter-spacing: 0px; width: 100%; height: 40px; font-weight: normal; font-style: normal; font-family: &quot;Harmonia Sans&quot;, sans-serif, Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif; font-size: 16px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); border-width: 1px; border-color: rgb(255, 255, 255); border-radius: 0px; border-style: solid; margin: 5px 0px 0px; padding: 0px 10px; cursor: pointer; background-image: linear-gradient(45deg, transparent 50%, rgb(51, 51, 51) 50%), linear-gradient(135deg, rgb(51, 51, 51) 50%, transparent 50%); background-position: calc(100% - 14px) calc(1em + 2px), calc(100% - 10px) calc(1em + 2px); background-size: 4px 4px; background-repeat: no-repeat; appearance: none; text-indent: 1px;"><option value="Celsius">Celsius</option><option value="Petal">Petal</option><option value="Naked">Naked</option><option value="Tokoyo">Tokoyo</option><option value="Champaign">Champaign</option><option value="Confess">Confess</option><option value="Sunset">Sunset</option><option value="Naughty">Naughty</option><option value="Plum">Plum</option><option value="T'aime">T'aime</option><option value="Heat">Heat</option><option value="Sharp">Sharp</option></select><div class="incubate-collections-add-to-cart-error" style="display: none; background-color: rgb(255, 182, 193); border-radius: 4px; padding: 1em; margin-top: 10px;"></div><div class="incubate-collections-add-to-cart-button-super-container" style="display: flex; flex-direction: row;"><button class="incubate-collections-add-to-cart-add-to-cart-button" style="overflow-wrap: break-word; white-space: normal; text-decoration: none; line-height: 1.2; letter-spacing: 0px; width: 100%; height: 40px; min-height: 40px; font-weight: normal; font-style: normal; font-family: &quot;Harmonia Sans&quot;, sans-serif, Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif; font-size: 13px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); border-width: 1px; border-color: rgb(255, 255, 255); border-radius: 0px; border-style: solid; cursor: pointer; margin: 10px 0px 0px; padding: 0px;">ADD TO CART</button></div></div></li>

<li class="product-item splide__slide p-3 p-lg-4 mb-4">
    <a class="product-link position-relative d-block link-dark processed-by-incubate" href="/products/handaiyan-6-colors-lip-gloss-longlasting-glitter-red-nude-lipstick-liquid-waterproof-moisturize-luminous-lipgloss-makeup">
          
        
        
        
            <img class="product-item-img img-fluid mb-4 rounded " src="//www.lavecchiacosmetics.com/cdn/shop/files/61oyt-DmClL._AC_SL1500_ac6ffb3e-d2df-49cf-95a4-7a0fa1a24894.jpg?crop=center&amp;height=1200&amp;v=1705380176&amp;width=1200" alt="7 COLOR GLASSY PEARL LIP GLOSS" width="1200" height="1200" loading="lazy">
        
        <h3 class="product-item-title mb-2 h6 ">
            7 COLOR GLASSY PEARL LIP GLOSS
        </h3>
    </a>
    
<div class="shopify-product-reviews-badge" data-id="8966100615479"></div>
    <p class="product-item-price mb-4" style="margin-bottom: 0px; padding-bottom: 0px;">
        
            <span class="product-item-price-final">
                
                    From
                
                $26.00
            </span>
        
    </p>
    
    
<div class="incubate-collections-add-to-cart-widget cbb-desktop-view" id="incubate-collections-add-to-cart-widget-8966100615479" style="padding: 0px 5px 30px; width: 100%;"><div class="incubate-collections-add-to-cart-variant-label" style="margin: 5px 0px 0px; font-size: 14px; color: rgb(51, 51, 51); font-weight: normal; font-style: normal; font-family: Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif;">Color</div><select class="incubate-collections-add-to-cart-variant-selector" style="overflow-wrap: break-word; white-space: normal; text-decoration: none; line-height: 1.2; letter-spacing: 0px; width: 100%; height: 40px; font-weight: normal; font-style: normal; font-family: &quot;Harmonia Sans&quot;, sans-serif, Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif; font-size: 16px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); border-width: 1px; border-color: rgb(255, 255, 255); border-radius: 0px; border-style: solid; margin: 5px 0px 0px; padding: 0px 10px; cursor: pointer; background-image: linear-gradient(45deg, transparent 50%, rgb(51, 51, 51) 50%), linear-gradient(135deg, rgb(51, 51, 51) 50%, transparent 50%); background-position: calc(100% - 14px) calc(1em + 2px), calc(100% - 10px) calc(1em + 2px); background-size: 4px 4px; background-repeat: no-repeat; appearance: none; text-indent: 1px;"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option></select><div class="incubate-collections-add-to-cart-error" style="display: none; background-color: rgb(255, 182, 193); border-radius: 4px; padding: 1em; margin-top: 10px;"></div><div class="incubate-collections-add-to-cart-button-super-container" style="display: flex; flex-direction: row;"><button class="incubate-collections-add-to-cart-add-to-cart-button" style="overflow-wrap: break-word; white-space: normal; text-decoration: none; line-height: 1.2; letter-spacing: 0px; width: 100%; height: 40px; min-height: 40px; font-weight: normal; font-style: normal; font-family: &quot;Harmonia Sans&quot;, sans-serif, Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif; font-size: 13px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); border-width: 1px; border-color: rgb(255, 255, 255); border-radius: 0px; border-style: solid; cursor: pointer; margin: 10px 0px 0px; padding: 0px;">ADD TO CART</button></div></div></li>

<li class="product-item splide__slide p-3 p-lg-4 mb-4">
    <a class="product-link position-relative d-block link-dark processed-by-incubate" href="/products/24-colors-matte-liquid-eyeshadow-cream-nude-eye-makeup-long-lasting-eye-shdaow-stick-blush-purple-green-blue-red-contour-shadow">
          
        
        
        
            <img class="product-item-img img-fluid mb-4 rounded " src="//www.lavecchiacosmetics.com/cdn/shop/files/S9ee4c0d61103442fba337d14183df6cfh.webp?crop=center&amp;height=1200&amp;v=1705410560&amp;width=1200" alt="47913609625911" width="1200" height="1200" loading="lazy">
        
        <h3 class="product-item-title mb-2 h6 ">
            24 COLOR MATTE LIQUID LONG LASTING EYE SHADOW
        </h3>
    </a>
    
<div class="shopify-product-reviews-badge" data-id="9157446467895"></div>
    <p class="product-item-price mb-4" style="margin-bottom: 0px; padding-bottom: 0px;">
        
            <span class="product-item-price-final">
                
                $33.00
            </span>
        
    </p>
    
    
<div class="incubate-collections-add-to-cart-widget cbb-desktop-view" id="incubate-collections-add-to-cart-widget-9157446467895" style="padding: 0px 5px 30px; width: 100%;"><div class="incubate-collections-add-to-cart-variant-label" style="margin: 5px 0px 0px; font-size: 14px; color: rgb(51, 51, 51); font-weight: normal; font-style: normal; font-family: Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif;">Color</div><select class="incubate-collections-add-to-cart-variant-selector" style="overflow-wrap: break-word; white-space: normal; text-decoration: none; line-height: 1.2; letter-spacing: 0px; width: 100%; height: 40px; font-weight: normal; font-style: normal; font-family: &quot;Harmonia Sans&quot;, sans-serif, Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif; font-size: 16px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); border-width: 1px; border-color: rgb(255, 255, 255); border-radius: 0px; border-style: solid; margin: 5px 0px 0px; padding: 0px 10px; cursor: pointer; background-image: linear-gradient(45deg, transparent 50%, rgb(51, 51, 51) 50%), linear-gradient(135deg, rgb(51, 51, 51) 50%, transparent 50%); background-position: calc(100% - 14px) calc(1em + 2px), calc(100% - 10px) calc(1em + 2px); background-size: 4px 4px; background-repeat: no-repeat; appearance: none; text-indent: 1px;"><option value="01">01</option><option value="04">04</option><option value="03">03</option><option value="05">05</option><option value="06">06</option><option value="07">07</option><option value="10">10</option><option value="18">18</option><option value="09">09</option><option value="08">08</option><option value="19">19</option><option value="17">17</option><option value="23">23</option><option value="20">20</option><option value="22">22</option><option value="24">24</option><option value="02">02</option><option value="21">21</option></select><div class="incubate-collections-add-to-cart-error" style="display: none; background-color: rgb(255, 182, 193); border-radius: 4px; padding: 1em; margin-top: 10px;"></div><div class="incubate-collections-add-to-cart-button-super-container" style="display: flex; flex-direction: row;"><button class="incubate-collections-add-to-cart-add-to-cart-button" style="overflow-wrap: break-word; white-space: normal; text-decoration: none; line-height: 1.2; letter-spacing: 0px; width: 100%; height: 40px; min-height: 40px; font-weight: normal; font-style: normal; font-family: &quot;Harmonia Sans&quot;, sans-serif, Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif; font-size: 13px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); border-width: 1px; border-color: rgb(255, 255, 255); border-radius: 0px; border-style: solid; cursor: pointer; margin: 10px 0px 0px; padding: 0px;">ADD TO CART</button></div></div></li>

<li class="product-item splide__slide p-3 p-lg-4 mb-4">
    <a class="product-link position-relative d-block link-dark processed-by-incubate" href="/products/18-colors-velvet-nude-matte-capsule-lipstick-mix-waterproof-makeup-beauty-long-lasting-lip-mini-protable-cosmetic-beauty-1">
          
        
        
        
            <img class="product-item-img img-fluid mb-4 rounded " src="//www.lavecchiacosmetics.com/cdn/shop/files/Untitled_1_15_17.jpg?crop=center&amp;height=1200&amp;v=1704712142&amp;width=1200" alt="13 COLOR ULTRA-LAST LIPSTICK | LAVECCHIA ORIGINALS™" width="1200" height="1200" loading="lazy">
        
        <h3 class="product-item-title mb-2 h6 ">
            13 COLOR ULTRA-LAST LIPSTICK | LAVECCHIA ORIGINALS™
        </h3>
    </a>
    
<div class="shopify-product-reviews-badge" data-id="8993211056439"></div>
    <p class="product-item-price mb-4" style="margin-bottom: 0px; padding-bottom: 0px;">
        
            <span class="product-item-price-final">
                
                $25.00
            </span>
        
    </p>
    
    
<div class="incubate-collections-add-to-cart-widget cbb-desktop-view" id="incubate-collections-add-to-cart-widget-8993211056439" style="padding: 0px 5px 30px; width: 100%;"><div class="incubate-collections-add-to-cart-variant-label" style="margin: 5px 0px 0px; font-size: 14px; color: rgb(51, 51, 51); font-weight: normal; font-style: normal; font-family: Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif;">Color</div><select class="incubate-collections-add-to-cart-variant-selector" style="overflow-wrap: break-word; white-space: normal; text-decoration: none; line-height: 1.2; letter-spacing: 0px; width: 100%; height: 40px; font-weight: normal; font-style: normal; font-family: &quot;Harmonia Sans&quot;, sans-serif, Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif; font-size: 16px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); border-width: 1px; border-color: rgb(255, 255, 255); border-radius: 0px; border-style: solid; margin: 5px 0px 0px; padding: 0px 10px; cursor: pointer; background-image: linear-gradient(45deg, transparent 50%, rgb(51, 51, 51) 50%), linear-gradient(135deg, rgb(51, 51, 51) 50%, transparent 50%); background-position: calc(100% - 14px) calc(1em + 2px), calc(100% - 10px) calc(1em + 2px); background-size: 4px 4px; background-repeat: no-repeat; appearance: none; text-indent: 1px;"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="12">12</option><option value="13">13</option></select><div class="incubate-collections-add-to-cart-error" style="display: none; background-color: rgb(255, 182, 193); border-radius: 4px; padding: 1em; margin-top: 10px;"></div><div class="incubate-collections-add-to-cart-button-super-container" style="display: flex; flex-direction: row;"><button class="incubate-collections-add-to-cart-add-to-cart-button" style="overflow-wrap: break-word; white-space: normal; text-decoration: none; line-height: 1.2; letter-spacing: 0px; width: 100%; height: 40px; min-height: 40px; font-weight: normal; font-style: normal; font-family: &quot;Harmonia Sans&quot;, sans-serif, Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif; font-size: 13px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); border-width: 1px; border-color: rgb(255, 255, 255); border-radius: 0px; border-style: solid; cursor: pointer; margin: 10px 0px 0px; padding: 0px;">ADD TO CART</button></div></div></li>

<li class="product-item splide__slide p-3 p-lg-4 mb-4">
    <a class="product-link position-relative d-block link-dark processed-by-incubate" href="/products/new-matte-ink-liquid-lipstick-non-stick-cup-long-lasting-velvet-nude-lip-gloss-waterproof-lip-tint-waterproof-korean-makeup">
          
        
        
        
            <img class="product-item-img img-fluid mb-4 rounded " src="//www.lavecchiacosmetics.com/cdn/shop/files/matte1.jpg?crop=center&amp;height=1200&amp;v=1697842251&amp;width=1200" alt="CREAMY MATTE LIQUID LIPSTICK" width="1200" height="1200" loading="lazy">
        
        <h3 class="product-item-title mb-2 h6 ">
            CREAMY MATTE LIQUID LIPSTICK
        </h3>
    </a>
    
<div class="shopify-product-reviews-badge" data-id="8975607824695"></div>
    <p class="product-item-price mb-4" style="margin-bottom: 0px; padding-bottom: 0px;">
        
            <span class="product-item-price-final">
                
                $50.00
            </span>
        
    </p>
    
    
<div class="incubate-collections-add-to-cart-widget cbb-desktop-view" id="incubate-collections-add-to-cart-widget-8975607824695" style="padding: 21.75px 5px 30px; width: 100%;"><div class="incubate-collections-add-to-cart-variant-label" style="margin: 5px 0px 0px; font-size: 14px; color: rgb(51, 51, 51); font-weight: normal; font-style: normal; font-family: Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif;">Color</div><select class="incubate-collections-add-to-cart-variant-selector" style="overflow-wrap: break-word; white-space: normal; text-decoration: none; line-height: 1.2; letter-spacing: 0px; width: 100%; height: 40px; font-weight: normal; font-style: normal; font-family: &quot;Harmonia Sans&quot;, sans-serif, Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif; font-size: 16px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); border-width: 1px; border-color: rgb(255, 255, 255); border-radius: 0px; border-style: solid; margin: 5px 0px 0px; padding: 0px 10px; cursor: pointer; background-image: linear-gradient(45deg, transparent 50%, rgb(51, 51, 51) 50%), linear-gradient(135deg, rgb(51, 51, 51) 50%, transparent 50%); background-position: calc(100% - 14px) calc(1em + 2px), calc(100% - 10px) calc(1em + 2px); background-size: 4px 4px; background-repeat: no-repeat; appearance: none; text-indent: 1px;"><option value="Mirage">Mirage</option><option value="Sandstone">Sandstone</option><option value="Guilty">Guilty</option><option value="bordeaux">bordeaux</option><option value="Cherry">Cherry</option><option value="Fire">Fire</option></select><div class="incubate-collections-add-to-cart-error" style="display: none; background-color: rgb(255, 182, 193); border-radius: 4px; padding: 1em; margin-top: 10px;"></div><div class="incubate-collections-add-to-cart-button-super-container" style="display: flex; flex-direction: row;"><button class="incubate-collections-add-to-cart-add-to-cart-button" style="overflow-wrap: break-word; white-space: normal; text-decoration: none; line-height: 1.2; letter-spacing: 0px; width: 100%; height: 40px; min-height: 40px; font-weight: normal; font-style: normal; font-family: &quot;Harmonia Sans&quot;, sans-serif, Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif; font-size: 13px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); border-width: 1px; border-color: rgb(255, 255, 255); border-radius: 0px; border-style: solid; cursor: pointer; margin: 10px 0px 0px; padding: 0px;">ADD TO CART</button></div></div></li>

<li class="product-item splide__slide p-3 p-lg-4 mb-4">
    <a class="product-link position-relative d-block link-dark processed-by-incubate" href="/products/12-colors-matte-waterproof-velvet-nude-lipstick-lip-liner-dual-use-long-lasting-profissional-charming-makeup-lipstick-cosmetics">
          
        
        
        
            <img class="product-item-img img-fluid mb-4 rounded " src="//www.lavecchiacosmetics.com/cdn/shop/files/Sae8a81414ce943278f620dfb3320f8717.jpg?crop=center&amp;height=1200&amp;v=1698141005&amp;width=1200" alt="12 COLOR MIGHTY-MATTE LIP PENCIL" width="1200" height="1200" loading="lazy">
        
        <h3 class="product-item-title mb-2 h6 ">
            12 COLOR MIGHTY-MATTE LIP PENCIL
        </h3>
    </a>
    
<div class="shopify-product-reviews-badge" data-id="8965974425911"></div>
    <p class="product-item-price mb-4" style="margin-bottom: 0px; padding-bottom: 0px;">
        
            <span class="product-item-price-final">
                
                $40.00
            </span>
        
    </p>
    
    
<div class="incubate-collections-add-to-cart-widget cbb-desktop-view" id="incubate-collections-add-to-cart-widget-8965974425911" style="padding: 0px 5px 30px; width: 100%;"><div class="incubate-collections-add-to-cart-variant-label" style="margin: 5px 0px 0px; font-size: 14px; color: rgb(51, 51, 51); font-weight: normal; font-style: normal; font-family: Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif;">Color</div><select class="incubate-collections-add-to-cart-variant-selector" style="overflow-wrap: break-word; white-space: normal; text-decoration: none; line-height: 1.2; letter-spacing: 0px; width: 100%; height: 40px; font-weight: normal; font-style: normal; font-family: &quot;Harmonia Sans&quot;, sans-serif, Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif; font-size: 16px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); border-width: 1px; border-color: rgb(255, 255, 255); border-radius: 0px; border-style: solid; margin: 5px 0px 0px; padding: 0px 10px; cursor: pointer; background-image: linear-gradient(45deg, transparent 50%, rgb(51, 51, 51) 50%), linear-gradient(135deg, rgb(51, 51, 51) 50%, transparent 50%); background-position: calc(100% - 14px) calc(1em + 2px), calc(100% - 10px) calc(1em + 2px); background-size: 4px 4px; background-repeat: no-repeat; appearance: none; text-indent: 1px;"><option value="01">01</option><option value="02">02</option><option value="03">03</option><option value="04">04</option><option value="05">05</option><option value="06">06</option><option value="07">07</option><option value="08">08</option><option value="09">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option></select><div class="incubate-collections-add-to-cart-error" style="display: none; background-color: rgb(255, 182, 193); border-radius: 4px; padding: 1em; margin-top: 10px;"></div><div class="incubate-collections-add-to-cart-button-super-container" style="display: flex; flex-direction: row;"><button class="incubate-collections-add-to-cart-add-to-cart-button" style="overflow-wrap: break-word; white-space: normal; text-decoration: none; line-height: 1.2; letter-spacing: 0px; width: 100%; height: 40px; min-height: 40px; font-weight: normal; font-style: normal; font-family: &quot;Harmonia Sans&quot;, sans-serif, Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif; font-size: 13px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); border-width: 1px; border-color: rgb(255, 255, 255); border-radius: 0px; border-style: solid; cursor: pointer; margin: 10px 0px 0px; padding: 0px;">ADD TO CART</button></div></div></li>

<li class="product-item splide__slide p-3 p-lg-4 mb-4">
    <a class="product-link position-relative d-block link-dark processed-by-incubate" href="/products/glitter-matte-temperature-change-lipstick-waterproof-long-lasting-diamonds-lipsticks-non-stick-red-pink-lip-tint-makeup-cosmetic">
          
        
        
        
            <img class="product-item-img img-fluid mb-4 rounded " src="//www.lavecchiacosmetics.com/cdn/shop/files/907177189_max.jpg?crop=center&amp;height=1200&amp;v=1705410739&amp;width=1200" alt="TRI COLOR SUPERSTAR LIPSTICK" width="1200" height="1200" loading="lazy">
        
        <h3 class="product-item-title mb-2 h6 ">
            TRI COLOR SUPERSTAR LIPSTICK
        </h3>
    </a>
    
<div class="shopify-product-reviews-badge" data-id="8966067388727"></div>
    <p class="product-item-price mb-4" style="margin-bottom: 0px; padding-bottom: 0px;">
        
            <span class="product-item-price-final">
                
                $65.00
            </span>
        
    </p>
    
    
<div class="incubate-collections-add-to-cart-widget cbb-desktop-view" id="incubate-collections-add-to-cart-widget-8966067388727" style="padding: 0px 5px 30px; width: 100%;"><div class="incubate-collections-add-to-cart-variant-label" style="margin: 5px 0px 0px; font-size: 14px; color: rgb(51, 51, 51); font-weight: normal; font-style: normal; font-family: Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif;">Color</div><select class="incubate-collections-add-to-cart-variant-selector" style="overflow-wrap: break-word; white-space: normal; text-decoration: none; line-height: 1.2; letter-spacing: 0px; width: 100%; height: 40px; font-weight: normal; font-style: normal; font-family: &quot;Harmonia Sans&quot;, sans-serif, Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif; font-size: 16px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); border-width: 1px; border-color: rgb(255, 255, 255); border-radius: 0px; border-style: solid; margin: 5px 0px 0px; padding: 0px 10px; cursor: pointer; background-image: linear-gradient(45deg, transparent 50%, rgb(51, 51, 51) 50%), linear-gradient(135deg, rgb(51, 51, 51) 50%, transparent 50%); background-position: calc(100% - 14px) calc(1em + 2px), calc(100% - 10px) calc(1em + 2px); background-size: 4px 4px; background-repeat: no-repeat; appearance: none; text-indent: 1px;"><option value="01">01</option><option value="02">02</option><option value="03">03</option></select><div class="incubate-collections-add-to-cart-error" style="display: none; background-color: rgb(255, 182, 193); border-radius: 4px; padding: 1em; margin-top: 10px;"></div><div class="incubate-collections-add-to-cart-button-super-container" style="display: flex; flex-direction: row;"><button class="incubate-collections-add-to-cart-add-to-cart-button" style="overflow-wrap: break-word; white-space: normal; text-decoration: none; line-height: 1.2; letter-spacing: 0px; width: 100%; height: 40px; min-height: 40px; font-weight: normal; font-style: normal; font-family: &quot;Harmonia Sans&quot;, sans-serif, Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif; font-size: 13px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); border-width: 1px; border-color: rgb(255, 255, 255); border-radius: 0px; border-style: solid; cursor: pointer; margin: 10px 0px 0px; padding: 0px;">ADD TO CART</button></div></div></li>

<li class="product-item splide__slide p-3 p-lg-4 mb-4">
    <a class="product-link position-relative d-block link-dark processed-by-incubate" href="/products/liquid-matte-ultra-last-jounrey">
          
        
        
        
            <img class="product-item-img img-fluid mb-4 rounded " src="//www.lavecchiacosmetics.com/cdn/shop/files/6.jpg?crop=center&amp;height=1200&amp;v=1698509069&amp;width=1200" alt="20 COLOR LIQUID MATTE SMOOTH LIP STICK" width="1200" height="1200" loading="lazy">
        
        <h3 class="product-item-title mb-2 h6 ">
            20 COLOR LIQUID MATTE SMOOTH LIP STICK
        </h3>
    </a>
    
<div class="shopify-product-reviews-badge" data-id="8979515343159"></div>
    <p class="product-item-price mb-4" style="margin-bottom: 0px; padding-bottom: 0px;">
        
            <span class="product-item-price-final">
                
                $0.00
            </span>
        
    </p>
    
    
<div class="incubate-collections-add-to-cart-widget cbb-desktop-view" id="incubate-collections-add-to-cart-widget-8979515343159" style="padding: 0px 5px 30px; width: 100%;"><div class="incubate-collections-add-to-cart-variant-label" style="margin: 5px 0px 0px; font-size: 14px; color: rgb(51, 51, 51); font-weight: normal; font-style: normal; font-family: Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif;">Color</div><select class="incubate-collections-add-to-cart-variant-selector" style="overflow-wrap: break-word; white-space: normal; text-decoration: none; line-height: 1.2; letter-spacing: 0px; width: 100%; height: 40px; font-weight: normal; font-style: normal; font-family: &quot;Harmonia Sans&quot;, sans-serif, Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif; font-size: 16px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); border-width: 1px; border-color: rgb(255, 255, 255); border-radius: 0px; border-style: solid; margin: 5px 0px 0px; padding: 0px 10px; cursor: pointer; background-image: linear-gradient(45deg, transparent 50%, rgb(51, 51, 51) 50%), linear-gradient(135deg, rgb(51, 51, 51) 50%, transparent 50%); background-position: calc(100% - 14px) calc(1em + 2px), calc(100% - 10px) calc(1em + 2px); background-size: 4px 4px; background-repeat: no-repeat; appearance: none; text-indent: 1px;"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option></select><div class="incubate-collections-add-to-cart-error" style="display: none; background-color: rgb(255, 182, 193); border-radius: 4px; padding: 1em; margin-top: 10px;"></div><div class="incubate-collections-add-to-cart-button-super-container" style="display: flex; flex-direction: row;"><button class="incubate-collections-add-to-cart-add-to-cart-button" style="overflow-wrap: break-word; white-space: normal; text-decoration: none; line-height: 1.2; letter-spacing: 0px; width: 100%; height: 40px; min-height: 40px; font-weight: normal; font-style: normal; font-family: &quot;Harmonia Sans&quot;, sans-serif, Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif; font-size: 13px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); border-width: 1px; border-color: rgb(255, 255, 255); border-radius: 0px; border-style: solid; cursor: pointer; margin: 10px 0px 0px; padding: 0px;">ADD TO CART</button></div></div></li>

<li class="product-item splide__slide p-3 p-lg-4 mb-4">
    <a class="product-link position-relative d-block link-dark processed-by-incubate" href="/products/nude-matte-lip-gloss-12-colors-long-lasting-velvet-lipstick-waterproof-non-fade-non-stick-cup-lipsticks-women-makeup-cosmetic">
          
        
        
        
            <img class="product-item-img img-fluid mb-4 rounded " src="//www.lavecchiacosmetics.com/cdn/shop/files/Sd5b7bb506b99455494ec11e7a410394dZ.jpg?crop=center&amp;height=1200&amp;v=1697856438&amp;width=1200" alt="12 COLOR FRUITY MATTE LIP GLOSS" width="1200" height="1200" loading="lazy">
        
        <h3 class="product-item-title mb-2 h6 ">
            12 COLOR FRUITY MATTE LIP GLOSS
        </h3>
    </a>
    
<div class="shopify-product-reviews-badge" data-id="8976261316919"></div>
    <p class="product-item-price mb-4" style="margin-bottom: 0px; padding-bottom: 0px;">
        
            <span class="product-item-price-final">
                
                $33.00
            </span>
        
    </p>
    
    
<div class="incubate-collections-add-to-cart-widget cbb-desktop-view" id="incubate-collections-add-to-cart-widget-8976261316919" style="padding: 1px 5px 30px; width: 100%;"><div class="incubate-collections-add-to-cart-variant-label" style="margin: 5px 0px 0px; font-size: 14px; color: rgb(51, 51, 51); font-weight: normal; font-style: normal; font-family: Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif;">Color</div><select class="incubate-collections-add-to-cart-variant-selector" style="overflow-wrap: break-word; white-space: normal; text-decoration: none; line-height: 1.2; letter-spacing: 0px; width: 100%; height: 40px; font-weight: normal; font-style: normal; font-family: &quot;Harmonia Sans&quot;, sans-serif, Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif; font-size: 16px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); border-width: 1px; border-color: rgb(255, 255, 255); border-radius: 0px; border-style: solid; margin: 5px 0px 0px; padding: 0px 10px; cursor: pointer; background-image: linear-gradient(45deg, transparent 50%, rgb(51, 51, 51) 50%), linear-gradient(135deg, rgb(51, 51, 51) 50%, transparent 50%); background-position: calc(100% - 14px) calc(1em + 2px), calc(100% - 10px) calc(1em + 2px); background-size: 4px 4px; background-repeat: no-repeat; appearance: none; text-indent: 1px;"><option value="01">01</option><option value="02">02</option><option value="03">03</option><option value="04">04</option><option value="05">05</option><option value="06">06</option><option value="07">07</option><option value="08">08</option><option value="09">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option></select><div class="incubate-collections-add-to-cart-error" style="display: none; background-color: rgb(255, 182, 193); border-radius: 4px; padding: 1em; margin-top: 10px;"></div><div class="incubate-collections-add-to-cart-button-super-container" style="display: flex; flex-direction: row;"><button class="incubate-collections-add-to-cart-add-to-cart-button" style="overflow-wrap: break-word; white-space: normal; text-decoration: none; line-height: 1.2; letter-spacing: 0px; width: 100%; height: 40px; min-height: 40px; font-weight: normal; font-style: normal; font-family: &quot;Harmonia Sans&quot;, sans-serif, Lato, &quot;Helvetica Neue&quot;, Arial, Helvetica, sans-serif; font-size: 13px; color: rgb(255, 255, 255); background-color: rgb(0, 0, 0); border-width: 1px; border-color: rgb(255, 255, 255); border-radius: 0px; border-style: solid; cursor: pointer; margin: 10px 0px 0px; padding: 0px;">ADD TO CART</button></div></div></li>

<li class="product-item splide__slide p-3 p-lg-4 mb-4">
    <a class="product-link position-relative d-block link-dark" href="/products/6-color-mirror-pearl-lip-gloss-waterproof-long-lasting-moisturizing-lipstick-shine-glitter-lip-gloss-women-makeup-cosmetic">
          
        
        
        
            <img class="product-item-img img-fluid mb-4 rounded " src="//www.lavecchiacosmetics.com/cdn/shop/files/S07c5c0332b4a407eb43b66e0a1863ec0g.webp?crop=center&amp;height=1200&amp;v=1705383691&amp;width=1200" alt="47913516958007" width="1200" height="1200" loading="lazy">
        
        <h3 class="product-item-title mb-2 h6 ">
            6 COLOR MIRROR LIP GLOSS WATERPROOF LONG LASTING MOISTURIZING
        </h3>
    </a>
    
<div class="shopify-product-reviews-badge" data-id="9157431755063"></div>
    <p class="product-item-price mb-4">
        
            <span class="product-item-price-final">
                
                $2.00
            </span>
        
    </p>
    
    
</li>

<li class="product-item splide__slide p-3 p-lg-4 mb-4">
    <a class="product-link position-relative d-block link-dark" href="/products/matte-liquid-lipstick-waterproof-long-lasting-lip-gloss-tint-sexy-red-nude-purple-metallic-lipsticks-makeup-cosmetics">
          
        
        
        
            <img class="product-item-img img-fluid mb-4 rounded " src="//www.lavecchiacosmetics.com/cdn/shop/files/S23b35387dbee47528ddad0b4880430dbH.webp?crop=center&amp;height=1200&amp;v=1705383688&amp;width=1200" alt="21 COLOR METALLIC NUDE LIP GLOSS" width="1200" height="1200" loading="lazy">
        
        <h3 class="product-item-title mb-2 h6 ">
            21 COLOR METALLIC NUDE LIP GLOSS
        </h3>
    </a>
    
<div class="shopify-product-reviews-badge" data-id="9157431591223"></div>
    <p class="product-item-price mb-4">
        
            <span class="product-item-price-final">
                
                $3.00
            </span>
        
    </p>
    
    
</li>

<li class="product-item splide__slide p-3 p-lg-4 mb-4">
    <a class="product-link position-relative d-block link-dark" href="/products/mini-liquid-eyeshadow-shimmer-liquid-glitter-eye-shadow-make-up-metallic-waterproof-tattoo-diamond-eyes-cosmetic-1pc">
          
        
        
        
            <img class="product-item-img img-fluid mb-4 rounded " src="//www.lavecchiacosmetics.com/cdn/shop/files/S4be62223407643e9b26cac7fa0fd6325w.webp?crop=center&amp;height=1200&amp;v=1705410526&amp;width=1200" alt="47913593274679|47913593307447" width="1200" height="1200" loading="lazy">
        
        <h3 class="product-item-title mb-2 h6 ">
            22 COLOR LIQUID SHIMMER EYESHADOW
        </h3>
    </a>
    
<div class="shopify-product-reviews-badge" data-id="9157442961719"></div>
    <p class="product-item-price mb-4">
        
            <span class="product-item-price-final">
                
                $37.00
            </span>
        
    </p>
    
    
</li>

<li class="product-item splide__slide p-3 p-lg-4 mb-4">
    <a class="product-link position-relative d-block link-dark" href="/products/pearly-shiny-glitter-diamond-liquid-lipstick-women-waterproof-dual-use-lastinglip-glaze-makeup-eye-shadow-pearl-shiny-lip-gloss">
          
        
        
        
            <img class="product-item-img img-fluid mb-4 rounded " src="//www.lavecchiacosmetics.com/cdn/shop/files/S95263865d06d4edd9c134f30a6ae9af2w.webp?crop=center&amp;height=1200&amp;v=1705384908&amp;width=1200" alt="47913609101623" width="1200" height="1200" loading="lazy">
        
        <h3 class="product-item-title mb-2 h6 ">
            5 COLOR METALLIC DIAMOND LIQUID LIPSTICK
        </h3>
    </a>
    
<div class="shopify-product-reviews-badge" data-id="9157446435127"></div>
    <p class="product-item-price mb-4">
        
            <span class="product-item-price-final">
                
                $3.00
            </span>
        
    </p>
    
    
</li>

<li class="product-item splide__slide p-3 p-lg-4 mb-4">
    <a class="product-link position-relative d-block link-dark" href="/products/16-colors-matte-lip-gloss-waterproof-lasting-velvet-nude-red-non-sticky-cup-sexy-liquid-lipstick-cream-lips-makeup-cosmetics">
          
        
        
        
            <img class="product-item-img img-fluid mb-4 rounded " src="//www.lavecchiacosmetics.com/cdn/shop/files/S5bd95ebf93f04300af318b58103f8439Y.webp?crop=center&amp;height=1200&amp;v=1705385167&amp;width=1200" alt="47913517842743" width="1200" height="1200" loading="lazy">
        
        <h3 class="product-item-title mb-2 h6 ">
            16 COLOR MATTE LIP GLOSS | CREAMY
        </h3>
    </a>
    
<div class="shopify-product-reviews-badge" data-id="9157431787831"></div>
    <p class="product-item-price mb-4">
        
            <span class="product-item-price-final">
                
                $29.00
            </span>
        
    </p>
    
    
</li>

<li class="product-item splide__slide p-3 p-lg-4 mb-4">
    <a class="product-link position-relative d-block link-dark" href="/products/6pcs-set-matte-velvet-lip-gloss-waterproof-long-lasting-liquid-lipstick-cosmetic-beauty-keep-24-hours-makeup-maquillages">
          
        
        
        
            <img class="product-item-img img-fluid mb-4 rounded " src="//www.lavecchiacosmetics.com/cdn/shop/files/S18ed8cc944574dfda77ccfcdb3b56e81W.webp?crop=center&amp;height=1200&amp;v=1705410605&amp;width=1200" alt="47913516794167" width="1200" height="1200" loading="lazy">
        
        <h3 class="product-item-title mb-2 h6 ">
            6 PIECE VELVET MATTE LIP SET
        </h3>
    </a>
    
<div class="shopify-product-reviews-badge" data-id="9157431656759"></div>
    <p class="product-item-price mb-4">
        
            <span class="product-item-price-final">
                
                $94.00
            </span>
        
    </p>
    
    
</li>

<li class="product-item splide__slide p-3 p-lg-4 mb-4">
    <a class="product-link position-relative d-block link-dark" href="/products/diamond-glitter-liquid-eyeliner-eyeshadow-silkworm-laying-pen-dual-use-double-head-pen-waterproof-brighten-highlighter-cosmetics">
          
        
        
        
            <img class="product-item-img img-fluid mb-4 rounded " src="//www.lavecchiacosmetics.com/cdn/shop/files/Sb85713c21384468d8e893913d55456db7.webp?crop=center&amp;height=1200&amp;v=1705385843&amp;width=1200" alt="12 COLOR DIAMOND GLITTER LIQUID EYELINER" width="1200" height="1200" loading="lazy">
        
        <h3 class="product-item-title mb-2 h6 ">
            12 COLOR DIAMOND GLITTER LIQUID EYELINER
        </h3>
    </a>
    
<div class="shopify-product-reviews-badge" data-id="9157405212983"></div>
    <p class="product-item-price mb-4">
        
            <span class="product-item-price-final">
                
                $37.00
            </span>
        
    </p>
    
    
</li>

<li class="product-item splide__slide p-3 p-lg-4 mb-4">
    <a class="product-link position-relative d-block link-dark" href="/products/qibest-lazy-eyeshadow-stick-set-super-shiny-pearl-glitter-brightening-highlight-matte-makeup-eyeshadow-pen-12-color">
          
        
        
        
            <img class="product-item-img img-fluid mb-4 rounded " src="//www.lavecchiacosmetics.com/cdn/shop/files/Sbea037defc9d4f6ab3130b49bb800554V.webp?crop=center&amp;height=1200&amp;v=1705384541&amp;width=1200" alt="12 PIECE SET LAZY EYESHADOW STICK" width="1200" height="1200" loading="lazy">
        
        <h3 class="product-item-title mb-2 h6 ">
            12 PIECE SET LAZY EYESHADOW STICK
        </h3>
    </a>
    
<div class="shopify-product-reviews-badge" data-id="9157442928951"></div>
    <p class="product-item-price mb-4">
        
            <span class="product-item-price-final">
                
                $106.00
            </span>
        
    </p>
    
    
</li>

<li class="product-item splide__slide p-3 p-lg-4 mb-4">
    <a class="product-link position-relative d-block link-dark" href="/products/9-colors-glitter-nude-lipsticks-waterproof-makeup-sexy-matte-lipsticks-long-lasting-mermaid-shimmer-lip-stick-pigment-cosmetic">
          
        
        
        
            <img class="product-item-img img-fluid mb-4 rounded " src="//www.lavecchiacosmetics.com/cdn/shop/files/S6f3c8556bf4d4819a3bc7309e0b3a98em.jpg?crop=center&amp;height=1200&amp;v=1705410613&amp;width=1200" alt="47422464459063" width="1200" height="1200" loading="lazy">
        
        <h3 class="product-item-title mb-2 h6 ">
            9 COLOR NUDE SHIMMER VIBRANT LIPSTICK
        </h3>
    </a>
    
<div class="shopify-product-reviews-badge" data-id="8966060146999"></div>
    <p class="product-item-price mb-4">
        
            <span class="product-item-price-final">
                
                $42.00
            </span>
        
    </p>
    
    
</li>

<li class="product-item splide__slide p-3 p-lg-4 mb-4">
    <a class="product-link position-relative d-block link-dark" href="/products/mirror-pearl-lip-gloss-waterproof-lasting-moisturizing-liquid-lipstick-8-colors-shine-glitter-lip-gloss-women-makeup-cosmetics">
          
        
        
        
            <img class="product-item-img img-fluid mb-4 rounded " src="//www.lavecchiacosmetics.com/cdn/shop/files/Sac58beb10088414595dc849003465278n.webp?crop=center&amp;height=1200&amp;v=1705383702&amp;width=1200" alt="8 COLOR NUDE TINT LIP GLOSS" width="1200" height="1200" loading="lazy">
        
        <h3 class="product-item-title mb-2 h6 ">
            8 COLOR NUDE TINT LIP GLOSS
        </h3>
    </a>
    
<div class="shopify-product-reviews-badge" data-id="9157431886135"></div>
    <p class="product-item-price mb-4">
        
            <span class="product-item-price-final">
                
                $3.00
            </span>
        
    </p>
    
    
</li>

<li class="product-item splide__slide p-3 p-lg-4 mb-4">
    <a class="product-link position-relative d-block link-dark" href="/products/matte-liquid-eyeshadow-female-makeups-pearlescent-fine-flash-diamond-liquid-eye-shadow-makeup-korean-cosmetic">
          
        
        
        
            <img class="product-item-img img-fluid mb-4 rounded " src="//www.lavecchiacosmetics.com/cdn/shop/files/S21c565cc022e48fbbee725f58ff14d8aQ.jpg?crop=center&amp;height=1200&amp;v=1697838066&amp;width=1200" alt="Glitter &amp; Glow Liquid Eye Shadow" width="1200" height="1200" loading="lazy">
        
        <h3 class="product-item-title mb-2 h6 ">
            Glitter &amp; Glow Liquid Eye Shadow
        </h3>
    </a>
    
<div class="shopify-product-reviews-badge" data-id="8975607726391"></div>
    <p class="product-item-price mb-4">
        
            <span class="product-item-price-final">
                
                $2.00
            </span>
        
    </p>
    
    
</li>
        
      </ul>
    
    
  </div>
  
</section>


<style> #shopify-section-template--22016286196023__c96abb1c-8ca4-471f-b650-91ef61a17efa .product-item-title {font-size: 0.87rem; transform-text: capitalize !important; color: black !important; font-weight: 400 !important; margin-top: 0.2rem;} #shopify-section-template--22016286196023__c96abb1c-8ca4-471f-b650-91ef61a17efa }.H2 {font-size: 1.97rem; transform-text: capitalize !important; color: black !important; font-weight: 100 !important; font-style: light !important;} #shopify-section-template--22016286196023__c96abb1c-8ca4-471f-b650-91ef61a17efa .product-item-price {text-decoration: line-through;} #shopify-section-template--22016286196023__c96abb1c-8ca4-471f-b650-91ef61a17efa .container {margin-top: -1rem;} #shopify-section-template--22016286196023__c96abb1c-8ca4-471f-b650-91ef61a17efa .mb-4 {font-weight: 50 !important; font-style: light !important; letter-spacing: ;} #shopify-section-template--22016286196023__c96abb1c-8ca4-471f-b650-91ef61a17efa .color-swatches {display: none;} </style>
 
{% schema %}
{
    "name": "featured products22",
    "settings": [
        {
            "type": "paragraph",
            "content": "Either choose to display your products by selecting individual products (the setting below) or through a collection (the next setting below)."
        },
        {
            "type": "product_list",
            "id": "products",
            "label": "Products"
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
        },
        {
            "type": "range",
            "id": "limit",
            "label": "Limit products",
            "min": 2,
            "max": 24,
            "default": 12
        },
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "select",
            "id": "bg_color",
            "label": "Background color",
            "default": "",
            "options": [
                { "group": "Inherit", "value": "", "label": "Body" },
                { "group": "Light", "value": "bg-white text-body", "label": "White" },
                { "group": "Light", "value": "bg-light text-body", "label": "Light" }
            ]
        },
        {
            "type": "select",
            "id": "container",
            "label": "Container",
            "default": "container",
            "options": [
                { "value": "container", "label": "Container" },
                { "value": "container-fluid", "label": "Fluid" }
            ]
        },
        {
            "type": "select",
            "id": "text_align",
            "label": "Text align",
            "default": "text-center",
            "options": [
                { "value": "text-start", "label": "Left" },
                { "value": "text-center", "label": "Center" }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "featured products22"
        },
        {
            "type": "select",
            "id": "title_size",
            "label": "Title size",
            "default": "h2",
            "options": [
                { "group": "Heading", "value": "h1", "label": "H1" },
                { "group": "Heading", "value": "h2", "label": "H2" },
                { "group": "Heading", "value": "h3", "label": "H3" },
                { "group": "Heading", "value": "h4", "label": "H4" },
                { "group": "Heading", "value": "h5", "label": "H5" },
                { "group": "Heading", "value": "h6", "label": "H6" }
            ]
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description (optional)",
            "default": "<p>Add on optional description to this section</p>"
        },
        {
            "type": "select",
            "id": "description_size",
            "label": "Description size",
            "default": "fs-6",
            "options": [
                { "value": "fs-1", "label": "fs-1" },
                { "value": "fs-2", "label": "fs-2" },
                { "value": "fs-3", "label": "fs-3" },
                { "value": "fs-4", "label": "fs-4" },
                { "value": "fs-5", "label": "fs-5" },
                { "value": "fs-6", "label": "fs-6" }
            ]
        },
        {
            "type": "header",
            "content": "Product"
        },
        {
            "type": "select",
            "id": "product_img_mode",
            "label": "Image mode",
            "options": [
                { "value": "simple", "label": "Simple image" },
                { "value": "hover", "label": "Hover change" },
                { "value": "gallery", "label": "Image gallery" }
            ],
            "default": "gallery"
        },
        {
            "type": "select",
            "id": "product_img_orientation",
            "label": "Image orientation",
            "default": "square",
            "options": [
                { "value": "square", "label": "Square" },
                { "value": "landscape", "label": "Landscape" },
                { "value": "potrait", "label": "Potrait" }
            ]
        },
        {
            "type": "select",
            "id": "product_img_thumbnail",
            "label": "Image thumbnail",
            "default": "img-thumbnail",
            "options": [
                { "value": "", "label": "None" },
                { "value": "img-thumbnail", "label": "Thumbnail" }
            ]
        },
        {
            "type": "checkbox",
            "id": "product_show_sale_badge",
            "label": "Show sale badge",
            "default": true
        },
        {
            "type": "select",
            "id": "product_sale_badge_color",
            "label": "Sale badge color",
            "default": "bg-success text-white",
            "options": [
                { "group": "Light", "value": "bg-white text-dark", "label": "White" },
                { "group": "Light", "value": "bg-light text-body", "label": "Light" },
                { "group": "Dark", "value": "bg-primary text-white", "label": "Primary" },
                { "group": "Dark", "value": "bg-secondary text-white", "label": "Secondary" },
                { "group": "Dark", "value": "bg-dark text-white", "label": "Dark" },
                { "group": "Alert", "value": "bg-success text-white", "label": "Success" },
                { "group": "Alert", "value": "bg-warning text-dark", "label": "Warning" },
                { "group": "Alert", "value": "bg-danger text-white", "label": "Danger" },
                { "group": "Alert", "value": "bg-info text-white", "label": "Info" }
            ]
        },
        {
            "type": "select",
            "id": "product_title_size",
            "label": "Title size",
            "default": "h6",
            "options": [
                { "value": "h1", "label": "H1" },
                { "value": "h2", "label": "H2" },
                { "value": "h3", "label": "H3" },
                { "value": "h4", "label": "H4" },
                { "value": "h5", "label": "H5" },
                { "value": "h6", "label": "H6" }
            ]
        },
        {
            "type": "select",
            "id": "product_title_truncate",
            "label": "Truncate title",
            "default": "",
            "info": "Useful if your product titles are long",
            "options": [
                { "value": "", "label": "No (default)" },
                { "value": "text-truncate", "label": "One line" }
            ]
        },
        {
            "type": "checkbox",
            "id": "product_show_atc_form",
            "label": "Show 'Add to cart' form",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "product_form_show_inventory",
            "label": "Show inventory in the form",
            "default": false
        },
        {
            "type": "header",
            "content": "Carousel"
        },
        {
            "type": "checkbox",
            "id": "carousel_enable",
            "label": "Enable carousel",
            "info": "If disabled the product list will stack and the carousel settings below will not apply",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "carousel_arrows",
            "label": "Show arrows",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "carousel_pagination",
            "label": "Show pagination",
            "default": false
        },
        {
            "type": "text",
            "id": "carousel_easing",
            "label": "Easing",
            "default": "cubic-bezier(.42,.65,.27,.99)",
            "info": "[Learn more](https://cubic-bezier.com)"
        },
        {
            "type": "range",
            "id": "carousel_speed",
            "label": "Speed (ms)",
            "min": 50,
            "max": 1000,
            "default": 400,
            "step": 50,
            "info": "Transition speed in milliseconds."
        },
        {
            "type": "checkbox",
            "id": "carousel_autoplay",
            "label": "Autoplay",
            "default": false
        },
        {
            "type": "range",
            "id": "carousel_interval",
            "label": "Autoplay interval (sec)",
            "min": 1,
            "max": 10,
            "default": 5,
            "step": 1
        },
        {
            "type": "select",
            "id": "carousel_per_move",
            "label": "Per move",
            "info": "Number of slides to move.",
            "default": "0",
            "options": [
                { "value": "0", "label": "All in view" },
                { "value": "1", "label": "One by one" }
            ]
        },
        {
            "type": "checkbox",
            "id": "carousel_rewind",
            "label": "Rewind",
            "default": true,
            "info": "Slide back to the first slide"
        },
        {
            "type": "header",
            "content": "Breakpoints",
            "info": "Adjust items per slide based on screen resolution"
        },
        {
            "type": "range",
            "id": "breakpoint_xs",
            "label": "Items per slide / xs",
            "info": "Screen width: less than 576px",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 1
        },
        {
            "type": "range",
            "id": "breakpoint_sm",
            "label": "Items per slide / sm",
            "info": "Screen width: ≥576px",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "breakpoint_md",
            "label": "Items per slide / md",
            "info": "Screen width: ≥768px",
            "min": 1,
            "max": 4,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "breakpoint_lg",
            "label": "Items per slide / lg",
            "info": "Screen width: ≥992px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "breakpoint_xl",
            "label": "Items per slide / xl",
            "info": "Screen width: ≥1200px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 4
        },
        {
            "type": "range",
            "id": "breakpoint_xxl",
            "label": "Items per slide / xxl",
            "info": "Screen width: ≥1400px",
            "min": 1,
            "max": 8,
            "step": 1,
            "default": 4
        },
        {
            "type": "header",
            "content": "'View more' Button"
        },
        {
            "type": "checkbox",
            "id": "btn_show",
            "label": "Show button",
            "default": true
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Button text",
            "default": "View more products"
        },
        {
            "type": "url",
            "id": "btn_url",
            "label": "Button URL"
        },
        {
            "type": "select",
            "id": "btn_color",
            "label": "Button color",
            "default": "btn-primary",
            "options": [
                { "group": "Normal", "value": "btn-link", "label": "Link" },
                { "group": "Normal", "value": "btn-light", "label": "Light" },
                { "group": "Normal", "value": "btn-dark", "label": "Dark" },
                { "group": "Normal", "value": "btn-primary", "label": "Primary" },
                { "group": "Normal", "value": "btn-secondary", "label": "Secondary" },
                { "group": "Normal", "value": "btn-success", "label": "Success" },
                { "group": "Normal", "value": "btn-danger", "label": "Danger" },
                { "group": "Normal", "value": "btn-warning", "label": "Warning" },
                { "group": "Normal", "value": "btn-info", "label": "Info" },
                { "group": "Outline", "value": "btn-outline-light", "label": "Light Outline" },
                { "group": "Outline", "value": "btn-outline-dark", "label": "Dark Outline" },
                { "group": "Outline", "value": "btn-outline-primary", "label": "Primary Outline" },
                { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary Outline" },
                { "group": "Outline", "value": "btn-outline-success", "label": "Success Outline" },
                { "group": "Outline", "value": "btn-outline-danger", "label": "Danger Outline" },
                { "group": "Outline", "value": "btn-outline-warning", "label": "Warning Outline" },
                { "group": "Outline", "value": "btn-outline-info", "label": "Info Outline" }
            ]
        },
        {
            "type": "header",
            "content": "Spacing"
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mt",
            "label": "Margin top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb",
            "label": "Margin bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        }
    ],
    "presets": [
        {
            "name": "featured products22",
            "category": "Products"
        }
    ]
}
{% endschema %}
